esphome:
  name: panasonic-ac
  min_version: 2026.4.0

esp32:
  board: nodemcu-32s

wifi:
  networks:
  ap: {}

logger:
  level: INFO

api:

ota:
  platform: esphome

uart:
  tx_pin: GPIO17
  rx_pin: GPIO16
  baud_rate: 9600
  parity: EVEN

external_components:
  - source:
      type: git
      url: https://github.com/duczz/ha-esphome-panasonic-ac
    components: [panasonic_ac]

climate:
  - platform: panasonic_ac
    # For CZ-TACG1
    # type: cnt

    # For DNSK-P11
    # type: wlan

    name: Panasonic AC
    horizontal_swing_select:
      name: Horizontal Swing Mode
    vertical_swing_select:
      name: Vertical Swing Mode
    outside_temperature:
      name: Outside Temperature
    inside_temperature:
      name: Inside Temperature
    defrost_sensor:
      name: Defrost Status

    # Enable as needed
    # eco_switch:
    #   name: Eco Switch
    # econavi_switch:
    #   name: Econavi Switch
    # nanoex_switch:
    #   name: NanoeX Switch
    # mild_dry_switch:
    #   name: Mild Dry Switch
    # current_power_consumption:
    #   name: Power Consumption

    # Adapt according to your measurements
    # current_temperature_offset: 0
    # outside_temperature_offset: 0

    # Use an external sensor for current temperature (CZ-TACG1 only)
    # current_temperature_sensor: temperature_sensor_id
